
h3 {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    font-stretch: 100%;
    font-weight: 700;
    padding: 10px;
}
.services-head {
    text-align: center;
    font-size: 37px;
    box-sizing: border-box;
    font-stretch: 100%;
    font-stretch: 100%;
    padding: 10px;
}

.services-text {
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 23%;
    padding-right: 23%;
    margin-bottom: 6%;
}
.border {
    border: 2px solid rgb(101,101,101);
    padding: 20px;
    box-shadow:3px 3px 5px #999;
    flex-direction: column;
    position: relative;
    margin: 6px;  
    border-width: medium;
}
.about-rental{
    color: black;
    font-size: 22px;
    padding-top: 5%;
}
.benefits{
    margin-bottom: 45px;
    margin-top: 45px;
}

.main-text {
    box-sizing: border-box;
    font-size: 16px;
    padding-top: 15px;
}
h4 {
    padding-top: 25px;
    padding-bottom: 15px;
}
.service-image{
    width: 90%;
}
.services-name{
    display: flex;
    width: 90%;
}
.red-short-line{
    height: 2px;
    width: 11%;
    background-color: #c00407;
}

.red-icon {
    width: 20px;
    height: 24px;
}
.services-defenition { 
    display: block;
	flex-wrap: wrap;
	width: 100%;
}
.advantages {
    position: relative;
    bottom: 40px;
    left: 30px;
    color: #8c8c8c;
    display: contents;
    font-size: 16px;
}

.tabs__item {
    display: none;

}

.tabs__item.active {
    display: block;
}

.tabs__nav {
    text-align: center;
}

.tabs__nav-btn {
    border: none;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    opacity: .95;
    font-style: inherit;
    font-size: inherit;
    
}

@media screen and (max-width: 900px) {

.service-image {
    width: 100%;
} 
.services-name{
    display: block;
    width: 100%;
}
.tabs__nav-btn {
    display: inline;
}
h3 {
    text-transform: uppercase;
    color: #c00407;
    text-align: center;
    font-size: small;
}
.services-head {
    text-align: center;
    font-size: xx-large;
}
.services-text {
    text-align: center;
    font-size: 18px;
    color: rgb(101,101,101);
}
.border {
        border: 1px solid rgb(101,101,101);
        padding: 18px;
        box-shadow:3px 3px 5px #999;
        padding-bottom: 10%;
}

.benefits{
    margin-bottom: 15px;
    margin-top: 15px;
}
.nav-list li {
    display: inline-block;
    padding: 0 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    color: rgb(101,101,101);
}
.about-rental {
    color: black;
    font-size:  16px;
}
.component {
    height: 2px;
    width: 11%;
    background-color: #c00407;
}
.main-text {
    margin-top: 10px;
    color: rgb(81,81,81);
    text-align: left;
    font-size: 16px;
}

.red-icon {

    display: inline;
    width: 15px;
    height: 15px;
}

.advantages {
        position: relative;
        bottom: 40px;
        left: 30px;
        color: #8c8c8c;
        display: contents;
} 
.services-text {
    padding-left: 5%;
    padding-right: 5%;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}
}